NEXT_PUBLIC_THRIDWEB_SECRET_KEY="F_PMpgL3bO4Ks0NQiMCLdFhYoItz-vFgNsE8t84bTrwCJvNe84WeRr7ANGSxcJ5dPPkZjmMFcksCZMmuFYVxKQ"
NEXT_PUBLIC_CLIEND_ID="bde0dce4952bc366ddf0c9d9c9cbd413"
NEXT_PUBLIC_CONTRACT_ADDRESS="0xd71f65409188A313B712f0f77b1b0CF10d79DA59"

NEXT_PUBLIC_PINATA_API_KEY="26808c7db475d0214134"
NEXT_PUBLIC_PINATA_API_SECRET="e1b57675ece349276b9482733c009b8a43bc6bba044c2c3d111a1140bc5afaf0"
NEXT_PUBLIC_PINATA_API_JWT="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiIwNjgwNWI2NS1kMzgxLTQwZDAtODE0OC1jNWQzNGU5ZmFiNjQiLCJlbWFpbCI6Im5ndXllbmhvYW5naGFpODYxQGdtYWlsLmNvbSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJwaW5fcG9saWN5Ijp7InJlZ2lvbnMiOlt7ImlkIjoiRlJBMSIsImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxfSx7ImlkIjoiTllDMSIsImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxfV0sInZlcnNpb24iOjF9LCJtZmFfZW5hYmxlZCI6ZmFsc2UsInN0YXR1cyI6IkFDVElWRSJ9LCJhdXRoZW50aWNhdGlvblR5cGUiOiJzY29wZWRLZXkiLCJzY29wZWRLZXlLZXkiOiIyNjgwOGM3ZGI0NzVkMDIxNDEzNCIsInNjb3BlZEtleVNlY3JldCI6ImUxYjU3Njc1ZWNlMzQ5Mjc2Yjk0ODI3MzNjMDA5YjhhNDNiYzZiYmEwNDRjMmMzZDExMWExMTQwYmM1YWZhZjAiLCJpYXQiOjE2OTc0NDEzNzV9.h-tPD7ExDYu-H6PAr3X4YNU3_PhM4SqWUWLdZi5UUtI"