@tailwind base;
@tailwind components;
@tailwind utilities;

.container_wrapper {
  @apply p-4;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}
