.staking_container {
  @apply flex justify-between w-full;
}

.staking_container_section {
  @apply w-[28.5rem];
}

.stake_unstake_tab {
  @apply flex justify-center items-center w-4/5 h-12 bg-[#eae6ef] m-auto rounded-[2rem];
}

.staking_type_section {
  @apply flex justify-center items-center w-6/12 h-full cursor-pointer rounded-[2rem];
}

.staking_type {
  @apply bg-[rgb(238,174,202)] transition-all duration-75 ease-[ease-in-out];
}

.staking_section {
  @apply flex flex-col justify-end items-center shadow-[rgba(36,40,71,0.15)_0px_10px_22px,rgba(36,40,71,0.2)_0px_21px_25px] mt-4 rounded-[2rem];

  background: linear-gradient(
      90deg,
      rgba(243, 243, 243, 0.15) 0%,
      rgba(243, 243, 243, 0.25) 9.89%,
      rgba(243, 243, 243, 0.25) 56.97%,
      rgba(243, 243, 243, 0.15) 101.76%
    ),
    rgba(0, 19, 255, 0.03);

  background-blend-mode: overlay, normal;
}

.apy {
  @apply text-2xl font-semibold text-transparent m-auto;

  background: linear-gradient(
    225deg,
    rgb(72, 160, 248) 0%,
    rgb(72, 160, 248) 13.8%,
    rgb(230, 73, 255) 88.28%
  );

  -webkit-background-clip: text;
}

.staking_box {
  @apply flex flex-col items-center gap-4 py-6 w-full h-full bg-white shadow-[rgba(36,40,71,0.15)_0px_10px_22px,rgba(36,40,71,0.1)_0px_21px_25px] rounded-[2rem];
}

.input_field {
  @apply w-full h-[2.3rem] text-[#3e2d67] bg-[#eae6ef] text-base mx-0 my-4 pl-2 rounded-2xl border-[none];

  outline: none;

  @apply placeholder:text-base placeholder:text-[#443e38];
}

.input_field::-webkit-inner-spin-button,
.input_field::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.staking_info {
  @apply w-[70%];
}

.staking_info > h2 {
  @apply text-center;
}

.staking_info > p {
  @apply px-0 py-2 border-b-[rgb(238,174,202)] border-b border-solid;
}

.stake_btn {
  @apply w-[70%] h-12 bg-[#48a0f8] cursor-pointer rounded-[0.3rem] border-[none];

  outline: none;

  @apply flex items-center justify-center gap-2 mt-auto;
}

.stake_btn_loading {
  @apply opacity-70 cursor-not-allowed;
}

.staking_unstake {
  @apply w-full flex items-center gap-4;
}

.staking_unstake_values {
  @apply w-fit flex flex-wrap items-center gap-x-4;
}

.staking_unstake_value_unvalid {
  @apply line-through;
}

.staking_info_section {
  @apply flex flex-col items-center gap-4 py-6 px-10 h-full shadow-[rgba(36,40,71,0.15)_0px_10px_22px,rgba(36,40,71,0.2)_0px_21px_25px] bg-white rounded-[2rem];
}
.locked_staking_APY {
  @apply text-[0.8rem] font-semibold text-transparent;

  background: linear-gradient(
    225deg,
    rgb(72, 160, 248) 10%,
    rgb(72, 160, 248) 63.8%,
    rgb(230, 73, 255) 99.98%
  );

  -webkit-background-clip: text;
}

.locked_staking {
  @apply flex flex-col pt-4 pb-0 px-0 border-b-[rgb(238,174,202)] border-b border-solid;
}

.staking_locked_tier_list {
  @apply w-full grid grid-cols-3 gap-4;
}

.staking_locked_tier {
  @apply flex flex-col items-center justify-center gap-1;

  @apply rounded-lg px-[1px] py-[1px];

  background: #9ca3af;
}

.staking_locked_tier_title {
  @apply font-semibold leading-none tracking-tight;
}

.radio_field {
  @apply relative;
}

.radio {
  @apply absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%];

  @apply opacity-0 invisible;
}

.radio:checked + label {
  background: linear-gradient(
    225deg,
    rgb(72, 160, 248) 10%,
    rgb(72, 160, 248) 63.8%,
    rgb(230, 73, 255) 99.98%
  );
}

.staking_locked_tier_content {
  @apply flex flex-col items-center justify-center gap-1;

  @apply bg-white py-3 rounded-[7px] w-full h-full;
}
